<launch>
	<node name="controller" pkg="pid" type="controller" ns="heading" >
      <param name="Kp" value="20" />
      <param name="Ki" value="1" />
      <param name="Kd" value="10" />
      <param name="upper_limit" value="10" />
      <param name="lower_limit" value="-10" />
      <param name="windup_limit" value="5" />
      <param name="max_loop_frequency" value="10.0" />
      <param name="min_loop_frequency" value="10.0" />
	  <param name="angle_error" value="true" />
	  <param name="topic_from_controller" value="diff_rpm" />
      <param name="topic_from_plant" value="heading_angle" />
	  <param name="setpoint_topic" value="d_heading" />
     </node>
</launch>
